<!DOCTYPE html>
<html>
   <head>
      <title>Welcome to AI Painting!</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
   </head>
   <body style = "background-image:url(http://chuantu.biz/t5/133/1499913289x1694880496.png);">
        <div style = "margin-top:187px;font-weight:lighter;, Times, serif;color:#FFF">
        <div>
          <p style = "margin-left:500px;font-size:72px;font-family:'Times New Roman';line-height:10px;">Artificial Intelligence</p>
          <p style = "margin-left:700px;font-size:72px;font-family:'Times New Roman';">Painting</p>
		<div>
        <div style = "background-color:#FFF;width:202px;height:3px;margin-left:718px;margin-top:-17px;">
        </div>
        <div style = "margin-top:35px;">
          <p style = "margin-left:660px;font-size:18px;line-height:0px;font-family:Arial, Helvetica, sans-serif;">write a sentence to describe the content<p>
          <p style = "margin-left:725px;font-size:18px;font-family:Arial, Helvetica, sans-serif;">and select a target style</p>
        <div>
        <div>
        
        <div style = "background-color:#F6F8F5;width:1450px;height:500px;margin-left:75px;margin-top:40px;color:#666666;font-size:24px;">
        	<input id = "userinput" name = "userinput" type = "text" style = "padding:20px;width:1330px;height:60px;margin-top:40px;margin-left:60px;"></input>
            
            <div class="row" style = "margin-top:30px;font-size:18px;">
                <div style = "float:left;">
                    <div onclick = "setclick(1);" onMouseOver="mouseOver(1)" onMouseOut="mouseOut(1)" class="thumbnail" id = "pic1" style = "height:210px;width:210px;margin-left:75px;border-radius:0px;box-shadow:2px 2px 2px #CCC;">
                        <img src="http://chuantu.biz/t5/133/1499916965x1822614176.png" style = "padding:10px;height:165px;width:190px;">
                        <span style = "margin-left:15px;text-align:center">Abstract painting</span>
                    </div>
                </div>
                <div style = "float:left;">
                    <div onclick = "setclick(2);" onMouseOver="mouseOver(2)" onMouseOut="mouseOut(2)" class="thumbnail" id = "pic2" style = "height:210px;width:210px;margin-left:15px;border-radius:0px;box-shadow:2px 2px 2px #CCC;">
                        <img src="http://chuantu.biz/t5/133/1499917576x1822614176.jpg" style = "padding:10px;height:165px;width:190px;">
                        <span style = "margin-left:15px;">Post-impressionism<span>
                    </div>
                </div>
                <div style = "float:left;">
                    <div onclick = "setclick(3);" onMouseOver="mouseOver(3)" onMouseOut="mouseOut(3)" class="thumbnail" id = "pic3" style = "height:210px;width:210px; margin-left:15px;border-radius:0px;box-shadow:2px 2px 2px #CCC;">
                        <img src="http://chuantu.biz/t5/133/1499917685x1822614176.jpg" style = "padding:10px;height:165px;width:190px;">
                        <span style = "margin-left:15px;">Neo-impressionism</span>
                    </div>
                </div>
                <div style = "float:left;">
                    <div onclick = "setclick(4);" onMouseOver="mouseOver(4)" onMouseOut="mouseOut(4)" class="thumbnail" id = "pic4" style = "height:210px;width:210px; margin-left:15px;border-radius:0px;box-shadow:2px 2px 2px #CCC;">
                        <img src="http://chuantu.biz/t5/133/1499917746x1822614176.jpg" style = "padding:10px;height:165px;width:190px;">
                        <span style = "margin-left:15px;">Chinese ink painting</span>
                    </div>
                </div>
                <div style = "float:left;">
                    <div onclick = "setclick(5);" onMouseOver="mouseOver(5)" onMouseOut="mouseOut(5)" class="thumbnail" id = "pic5" style = "height:210px;width:210px; margin-left:15px;border-radius:0px;box-shadow:2px 2px 2px #CCC;">
                        <img src="http://chuantu.biz/t5/133/1499917816x1822614176.jpg" style = "padding:10px;height:165px;width:190px;">
                        <span style = "margin-left:15px;">Suprematism</span>
                    </div>
                </div>
                <div style = "float:left;">
                    <div onclick = "setclick(6);" onMouseOver="mouseOver(6)" onMouseOut="mouseOut(6)" class="thumbnail" id = "pic6" style = "height:210px;width:210px; margin-left:15px;border-radius:0px;box-shadow:2px 2px 2px #CCC;">
                        <img src="http://chuantu.biz/t5/133/1499918355x1822614176.png" style = "padding:10px;height:165px;width:190px;">
                        <span style = "margin-left:15px;">Impressionism</span>
                    </div>
                </div>
        		<button type = "button" onclick="generate()" class = "btn btn-warning" style = "box-shadow:2px 2px 2px #CCC;border-radius:50px;width:500px; height:80px;margin-top:30px;margin-left:490px;font-family:Arial, Helvetica, sans-serif; font-size:30px;color:#FFF;">
      				Generate
            	</button>
            </div>
        </div>
        <form action = "" id = "info" style = "display:none">
            <input type = "text" id = "content" name = "content"></input>
            <input type = "text" id = "style" name = "style"></input>
        </form>
      <script src="https://code.jquery.com/jquery.js"></script>
      <script type = "text/javascript">
	  var cur = -1;
	  function setclick(x){
		  cur = x;
		  document.getElementById("pic1").style = "height:210px;width:210px;margin-left:75px;border-radius:0px;box-shadow:2px 2px 2px #CCC;";
		  for(var i = 2;i < 7;i ++){
			  var name = "pic" + i;
			  document.getElementById(name).style = "height:210px;width:210px;margin-left:15px;border-radius:0px;box-shadow:2px 2px 2px #CCC;";
		  }
		  var name = "pic" + x;
		  if(x == 1){
			  document.getElementById("pic1").style = "height:210px;width:210px;margin-left:75px;border-radius:0px;border:2px solid #AAA";
		  }
		  else{
			  document.getElementById(name).style = "height:210px;width:210px;margin-left:15px;border-radius:0px;border:2px solid #AAA";
		  }
	  }
	  function mouseOver(x){
		  if(x != cur){
			  var name = "pic" + x;
			  if(x == 1){
				  document.getElementById(name).style = "height:210px;width:210px;margin-left:75px;border-radius:0px;box-shadow:5px 5px 5px #AAA";
			  }
			  else{
				  document.getElementById(name).style = "height:210px;width:210px;margin-left:15px;border-radius:0px;box-shadow:5px 5px 5px #AAA";
			  }
	      }
	  }
	  function mouseOut(x){
		  if(x != cur){
			  var name = "pic" + x;
			  if(x == 1){
				  document.getElementById(name).style = "height:210px;width:210px;margin-left:75px;border-radius:0px;box-shadow:2px 2px 2px #CCC";
			  }
			  else{
				  document.getElementById(name).style = "height:210px;width:210px;margin-left:15px;border-radius:0px;box-shadow:2px 2px 2px #CCC";
			  }
		  }
	  }
      function generate(){
          var content = document.getElementById("userinput").value;
          document.getElementById("content").value = content;
          document.getElementById("style").value = cur;
          if(content == "")
          {
              alert("input");
          }
          else if(cur == -1){
              alert("style");
          }
          else{
              document.getElementById("info").submit();
          }
      }
	  </script>
   </body>
</html>