<!DOCTYPE html>
<html>
   <head>
      <title>Painting Consequence</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      {% load staticfiles %}
   </head>
   <body style = "background-image:url(http://chuantu.biz/t5/133/1499913289x1694880496.png);background-size:cover";>
   <div style = "background-color:#F2F2F2;width:1460px;height:760px;margin:0 auto;margin-top:70px;box-shadow:3px 3px 3px #666">
      <div style = "margin-top:26px;margin-left:56px;height:708px;width:1161px;float:left;">
        
        <script type = "text/javascript">
            var wid;
            var hei;
        </script>
      	<img src =  "{{image}}" id = "mypic" onload="if(this.width / this.height > 1161 / 708){
                  this.height = this.height * 1161 / this.width;
                  this.width = 1161;
                  cvd();
              }
              else{
                  this.width = this.width * 708 / this.height;
                  this.height = 708;
                  cvd();
              }")>
        <video src = "{{video}}" autoplay = "autoplay" id = "vivideo" style = "object-fit:fill">
        <script type = "text/javascript">
        function cvd(){
            wid = document.getElementById("mypic").width;
            hei = document.getElementById("mypic").height;
            document.getElementById("vivideo").width = wid;
            document.getElementById("vivideo").height = hei;
            document.getElementById("mypic").style.display = "none";
        }
            /*var wid = document.getElementById("mypic").width;
            var hei = document.getElementById("mypic").height;
            if(wid / hei > 1161){
                hei = hei * 1161 / wid;
                wid = 1161;
            }
            else{
                wid = wid * 708 / hei;
                hei = 708;
            }*/
            /*wid = document.getElementById("mypic").width;
            hei = document.getElementById("mypic").height;
            alert(wid);
            alert(hei);
            document.getElementById("vivideo").width = wid;
            document.getElementById("vivideo").height = hei;*/
        
        </script>

      </div>
      <div style = "float:left;width:222px;margin-left:-25px;margin-top:20px;height:655px;text-align:right">
      		<p style = "font-family:'Times New Roman', Times, serif; font-size:24px;">Content</p>
            <p style = "color:#666;font-family:Arial, Helvetica, sans-serif; font-size:18px;">{{content}}</p>
            <p style = "font-family:'Times New Roman', Times, serif; font-size:24px;margin-top:50px;">Adjective</p>
            <p style = "color:#666;font-family:Arial, Helvetica, sans-serif; font-size:18px;">{{adj}}</p>
            <p style = "font-family:'Times New Roman', Times, serif; font-size:24px;margin-top:50px;">Style</p>
            <p style = "color:#666;font-family:Arial, Helvetica, sans-serif; font-size:18px;">{{style}}</p>
      </div>
      <div>
            <a href = "{{image}}" download="{{image}}" style = "margin-left:100px;font-family:'Times New Roman', Times, serif; font-size:24px;text-align:right">Download</a>
            <a href = /homepage style = "margin-left:152px;font-family:'Times New Roman', Times, serif; font-size:24px;text-align:right">Back</a>
      </div>
   </div>


   </body>
</html>
